html {
  font-family: arial;
  overflow: hidden;
}

#header {
  width: 100%;
  background: #0099FF;
  line-height: 3em;
}

#title {
  text-align: center;
  vertical-align: middle;
}

#navButton {
  float: left;
  text-decoration: none;
}

#nav {
  background-image: -webkit-linear-gradient(bottom, #FFFFFF, #0099FF);
  height: 100%;
  width 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x:  hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#nav .closeBtn {
  font-size: 36px;
  float: right;
  margin-right: 5px;
  top: 0;
}

.title {
  color: #FFFFFF;
  text-align: center;
}

#nav a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #0099FF;
  text-align: center;
}

#nav .listBtn {
  display: block;
  font-size: 1.15em;
}


@media only screen and (max-width: 500px) {
  html {
    font-size: 1.25em;
  }
  #navButton {
    font-size: 2em;
  }
}
